<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.EmployeeMapper">

<!-- 직원 추가  -->
 <insert id="insertEmployee" parameterType="EmployeeVO"> 
     insert into employee(empno, empname, empbirth, emptel, empaddr, empauth, empid, emppass, empretired) values
     (#{empno}, #{empname}, #{empbirth}, #{emptel}, #{empaddr}, #{empauth}, #{empid}, #{emppass}, #{empretired})
  </insert>










</mapper>