<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.EventMapper">
<!-- 새로운 이벤트 추가  -->
  <insert id="insertEvent" parameterType="EventVO"> 
     insert into event(no, title, content, pic, startdate, enddate) values
     (#{no}, #{title}, #{content}, #{pic}, #{startdate}, #{enddate})
  </insert>


<!-- 타이틀로 검색 -->
   <select id="readByNoEvent" resultType="EventVO">
     select * from Event
     where no= #{no}
   </select> 


<!-- 이벤트 정보 업데이트 -->
    <update id="updateEvent" parameterType="EventVO">
       update event  set 
       title =#{title}, content=#{content}, pic=#{pic},  startdate=#{startdate}, enddate=#{enddate}
       where no=#{no}
    </update> 
    

<!-- 이벤트 완전 삭제   -->
   <delete id="deleteEvent">
       delete from event 
       where no= #{no}
   </delete>


<!-- 이벤트 전체 리스트 페이지 -->
    <select id="listCriteriaEvent" resultType="EventVO">
      select * from event order by no desc limit #{pageStart}, #{perPageNum}
    </select>
  
    <!-- 리스트 위해 필요한 데이터 수  -->
    <select id="totalCountEvent" resultType="int">
       select  count(no) from event 
    </select>

<!-- 검색 기능 -->
 <sql id="search">
        <if test="searchType=='eventTitle'.toString()">
	       where title like CONCAT('%','${keyword}','%')
	      </if>
	      <if test="searchType=='eventContent'.toString()">
	       where content like CONCAT('%','${keyword}','%')
	      </if>
 </sql>

<!-- 검색으로 나타나는 리스트 부분 -->
    <select id="listSearchCriteriaEvent" resultType="EventVO">
      select * from event 
      <include refid="search"></include>
      order by no desc  limit #{pageStart}, #{perPageNum}
    </select>
	<!-- 검색한 결과 수  -->
	    <select id="totalSearchCountEvent" resultType="int">
	        select  count(no) from event
		    <include refid="search"></include>  
	    
	    </select>


   <sql id="timeDepends">
      <where>
         <if test="times =='ingEvent'">
            and startdate &lt;= now() and enddate &gt;= now()
         </if>
         <if test="times=='commingEvent'">
            and startdate &gt; now() 
         </if>
         <if test="times=='expiredEvent'">
            and enddate &lt; now() 
         </if>
      
      </where>
   </sql>
<!-- 타임에 따른 이벤트 목록-->
   <select id="eventListDependsTime" resultType="EventVO">
      select * from event
      <include refid="timeDepends"/>
      order by no desc
   </select>
   
   





</mapper>