<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.FlightMapper">
	<sql id="search">
		<if test='searchType=="no"'>
			where no = #{keyword}
		</if>
		<if test='searchType=="ano"'>
			where ano like concat('%',#{keyword},'%') 
		</if>
		<if test='searchType=="dloca"'>
			where dlocation like concat('%',#{keyword},'%')
		</if>
		<if test='searchType=="rloca"'>
			where rlocation like concat('%',#{keyword},'%')
		</if>
		<if test='searchType=="ddate"'>
			where ddate = #{keyword}
		</if>
		<if test='searchType=="rdate"'>
			where rdate = #{keyword}
		</if>
	</sql>
	<sql id="searchDiv">
		<if test='searchType=="no"'>
			and no = #{keyword}
		</if>
		<if test='searchType=="ano"'>
			and ano like concat('%',#{keyword},'%') 
		</if>
		<if test='searchType=="dloca"'>
			and dlocation like concat('%',#{keyword},'%')
		</if>
		<if test='searchType=="rloca"'>
			and rlocation like concat('%',#{keyword},'%')
		</if>
		<if test='searchType=="ddate"'>
			and ddate = #{keyword}
		</if>
		<if test='searchType=="rdate"'>
			and rdate = #{keyword}
		</if>
	</sql> 
	<sql id="ldiv">
		<if test=""></if>
	</sql>
	<!-- 항공 전체 리스트  -->
	<select id="airplaneList" resultType="AirplaneVO">
		select * from airplane order by no desc
		<include refid="search"/>    
		limit #{pageStart}, #{perPageNum}
	</select>
	<!-- 항공 국내만 -->
	<select id="airplaneDomList" resultType="AirplaneVO">
		select * from airplane 
		where ldiv = 1    
		order by no desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="airplaneListByDepature" resultType="AirplaneVO">
		select * from airplane where dlocation = 'ICN'
		<include refid="searchDiv"/>
		limit #{pageStart}, #{perPageNum}
	</select>
	<select id="airplaneListByRending" resultType="AirplaneVO">
		select * from airplane where dlocation != 'ICN'
		<include refid="searchDiv"/>
		limit #{pageStart}, #{perPageNum}
	</select>
	<!-- 항공편 전체 숫자 -->
	<select id="totalCountAirplane" resultType="int">
		select count(*) from airplane
		<include refid="search"/>
	</select>
	<select id="totalCountAirplaneByDepature" resultType="int">
		select count(*) from airplane where dlocation = 'ICN'
		<include refid="searchDiv"/>
	</select>
	<select id="totalCountAirplaneByRending" resultType="int">
		select count(*) from airplane where dlocation != 'ICN'
		<include refid="searchDiv"/>
	</select>
	<!-- 항공 번호로 검색 -->
	<select id="airplaneByNo" resultType="AirplaneVO">
		select * from airplane where no = #{no}
	</select>
	<!-- 항공 추가 -->
	<insert id="addAirplane">
		insert into airplane values(#{no}, #{ano}, #{dlocation}, #{rlocation}, #{ddate}, #{rdate}, #{ldiv}, #{capacity}, #{seat}, #{price}, #{pdiv} )
	</insert>
	<!-- 항공 삭제 -->
	<delete id="removeAirplane">
		delete from airplane where no = #{no }
	</delete>
	<!-- 항공 수정 -->
	<update id="editAirplane">
		update airplane set price = #{price} where no = #{no}
	</update>
</mapper> 