<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.hotelMapper">
	<!-- 호텔상품 추가 -->
	<insert id="insertHotel">
		insert into hotel (no, hname, haddr, checkin, checkout, capacity, price, roomcapacity, roomtype, ldiv, bookedup) values
		(#{no}, #{hname}, #{haddr}, #{checkin}, #{checkout}, #{capacity}, #{price}, #{roomcapacity}, #{roomtype}, #{ldiv}, #{bookedup})
	</insert>
	
	<!-- 호텔번호로 검색 -->
	<select id="readHotel" resultType="HotelVO">
		select * from hotel where no= #{no}
	</select>
	
	<!-- 호텔상품 수정 -->
	<update id="updateHotel" parameterType="HotelVO">
		update hotel set hname=#{hname}, haddr=#{haddr}, checkin=#{checkin}, checkout=#{checkout}, capacity=#{capacity}, price=#{price}, roomcapacity=#{roomcapacity}, roomtype=#{roomtype}, ldiv=#{ldiv}, bookedup=#{bookedup}
		where no=#{no}
	</update>
	
	<!-- 호텔상품 삭제 -->
	<delete id="deleteHotel" parameterType="HotelVO">
		delete from hotel where no=#{no}
	</delete>
	
	
	<!-- 호텔상품 전체 리스트(페이징) -->
	<select id="listCriteriaHotel" resultType="HotelVO">
		select * from hotel order by no desc limit #{pageStart}, #{perPageNum}
	</select>
    
    <!-- 호텔상품 전체 개수 -->
    <select id="totalCountHotel" resultType="int">
       select count(no) from hotel 
    </select>
    
   	 <sql id="search">
   	 	<if test="searchType=='total'.toString()">
			where hname like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='hname'.toString()">
			where hname like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchType=='haddr'.toString()">
			where haddr like CONCAT('%',#{keyword},'%')
		</if> 
		<if test="searchType=='bookedup'">
 			<if test='keyword=="가능" or keyword=="예약가능"'>
				where bookedup = 0
			</if>
			<if test='keyword=="불가능" or keyword=="예약불가능"'>
				where bookedup = 1
			</if>
		</if>
	</sql>
	
	<select id="listSearchHotel" resultType="HotelVO">
		select * from hotel
		<include refid="search"/>
		order by no desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalSearchCountHotel" resultType="int">
		select count(no) from hotel
		<include refid="search"/>
	</select>
    
    
	
</mapper>