<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mngMappers.productMapper">
	<!-- 관리자 상품 등록 -->
	<insert id="insertProduct">
		insert into product values(#{pno},#{pname},#{pcontent},#{pexpire},#{pprice},#{pic},#{pdiv});
	</insert>
	<insert id="insertpAirStatus">
		insert into pairstatus values(#{p.pno},#{a.no})
	</insert>
	<insert id="insertpHotelStatus">
		insert into photelstatus values(#{p.pno},#{h.no})
	</insert>
	<insert id="insertpTourStatus">
		insert into ptourstatus values(#{p.pno},#{t.no})
	</insert>
	<insert id="insertpRentcarStatus">
		insert into prentstatus values(#{p.pno},#{r.no})
	</insert>
	<resultMap type="ProductVO" id="product">
		<id property="pno" column="pno"/>
		<result property="pname" column="pname"/>
		<result property="pcontent" column="pcontent"/>
		<result property="pexpire" column="pexpire"/>
		<result property="pprice" column="pprice"/>
		<result property="pic" column="ppic"/>
		<result property="pdiv" column="pdiv"/>
		<collection property="air" ofType="AirplaneVO">
			<result property="no" column="a2no"/>
			<result property="ano" column="ano"/>
			<result property="dlocation" column="dlocation"/>
			<result property="rlocation" column="rlocation"/>
			<result property="ddate" column="ddate"/>
			<result property="rdate" column="rdate"/>
			<result property="capacity" column="capacity"/>
			<result property="seat" column="seat"/>
			<result property="price" column="price"/>
			<result property="pdiv" column="pdiv"/>
		</collection>
		<collection property="hotel" ofType="HotelVO">
			<result property="no" column="h2no"/>
			<result property="hname" column="hname"/>
			<result property="haddr" column="haddr"/>
			<result property="checkin" column="checkin"/>
			<result property="checkout" column="checkout"/>
			<result property="capacity" column="capacity"/>
			<result property="price" column="price"/>
			<result property="roomcapacity" column="roomcapacity"/>
			<result property="roomtype" column="roomtype"/>
			<result property="ldiv" column="ldiv"/>
			<result property="bookedup" column="bookedup"/>
			<result property="pdiv" column="pdiv"/> 
		</collection>
		<collection property="tour" ofType="TourVO">
			<result property="no" column="t2no"/>
			<result property="tname" column="tname"/>
			<result property="tlocation" column="tlocation"/>
			<result property="startDate" column="startdate"/>
			<result property="endDate" column="enddate"/>
			<result property="taddr" column="taddr"/>
			<result property="etime" column="etime"/>
			<result property="capacity" column="capacity"/>
			<result property="tprice" column="tprice"/>
			<result property="ldiv" column="ldiv"/>
			<result property="pdiv" column="pdiv"/> 
		</collection>
		<collection property="rentcar" ofType="RentcarVO">
			<id property="no" column="r2no"/>
			<result property="cdiv" column="cdiv"/>
			<result property="cno" column="cno"/>
			<result property="rentddate" column="rentddate"/>
			<result property="returndate" column="returndate"/>
			<result property="rentaddr" column="rentaddr"/>
			<result property="returnaddr" column="returnaddr"/>
			<result property="price" column="price"/>
			<result property="capacity" column="capacity"/>
			<result property="insurance" column="insurance"/>
			<result property="ldiv" column="ldiv"/>
			<result property="pdiv" column="pdiv"/>
		</collection>
	</resultMap>
	<sql id="select">
		select p.pno,p.pname,p.pcontent,p.pexpire,p.pprice,p.ppic,p.pdiv,
	   	a2.no as a2no,a2.ano,a2.dlocation,a2.rlocation,a2.ddate,a2.rdate,a2.ldiv,a2.capacity,a2.seat,a2.price,a2.pdiv, 
	   	h2.no as h2no,h2.hname,h2.haddr,h2.checkin,h2.checkout,h2.capacity,h2.price,h2.roomcapacity,h2.roomtype,h2.ldiv,h2.bookedup,h2.pdiv,
	  	t2.no as t2no,t2.tname,t2.tlocation,t2.startdate,t2.enddate,t2.taddr,t2.etime,t2.capacity,t2.tprice,t2.ldiv,t2.pdiv,
	   	r2.no as r2no,r2.cdiv,r2.cno,r2.rentddate,r2.returndate,r2.rentaddr,r2.returnaddr,r2.price,r2.capacity,r2.insurance,r2.ldiv,r2.pdiv 
		from product p join pairstatus a on p.pno = a.pno join airplane a2 on a.ano = a2.no
							 	join photelstatus h on p.pno = h.pno join hotel h2 on h.hno = h2.no
							 	join ptourstatus t on p.pno = t.pno join tour t2 on t.tno = t2.no
							 	join prentstatus r on p.pno = r.pno join rentcar r2 on r.rno = r2.no
	</sql>
	<select id="productByNo" resultMap="product">
		<include refid="select"/>
		where p.pno = #{pno}
	</select>
	<select id="productListPage" resultMap="product">
		<include refid="select"/>
		order by p.pno desc limit #{pageStart},#{perPageNum}
	</select>
	<select id="totalCountBySearchProduct" resultType="int">
		select count(*) from product order by pno desc limit #{pageStart},#{perPageNum}
	</select>
	<update id="updateProduct">
		update product set pname = #{pname}, pcontent = #{pcontent}, pexpire = #{pexpire}, pprice = #{pprice}, ppic = #{pic} where pno = #{pno}
	</update>
	<update id="updatepAirStatus">
		update pairstatus set ano = #{a.no} where pno = #{p.pno}
	</update>
	<update id="updatepHotelStatus">
		update photelstatus set hno = #{h.no} where pno = #{p.pno}
	</update>
	<update id="updatepTourStatus">
		update ptourstatus set tno = #{t.no} where pno = #{p.pno}
	</update>
	<update id="updatepRentStatus">
		update prentstatus set rno = #{r.no} where pno = #{p.pno}
	</update>
	<delete id="deletepAirStatus">
		delete from pairstatus where pno = #{p.pno}
	</delete>
	<delete id="deletepHotelStatus">
		delete from photelstatus where pno = #{p.pno}
	</delete>
	<delete id="deletepTourStatus">
		delete from ptourstatus where pno = #{p.pno}
	</delete>
	<delete id="deletepRentStatus">
		delete from prentstatus where pno = #{p.pno}
	</delete>
	<delete id="deleteProduct">
		delete from product where pno = #{pno}
	</delete>
</mapper>